@inherits LayoutComponentBase

<div >
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <header>
            <nav>
                <a href="">Inicio</a>
                <a href="juegos">Juegos</a>
                <a href="categorias">Categorias</a>
                <a href="about">Acerca de nosotros</a>
            </nav>


            <section class="textosprincipal">

                <img src="image/byrongames.png" alt="" class="byrongames logo">
                <h1 class="letrasAnimadas">Descarga tus juegos facil y rapido</h1>
                <h2>Con GameHub</h2>
            </section>
            <div class="wave" style="height: 150px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                     style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                          style="stroke: none; fill: rgb(255, 255, 255);"></path>
                </svg>
            </div>
        </header>

        <article >
            @Body
        </article>

        <footer>
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4>Telefonos</h4>
                    <p>70506166</p>
                </div>
                <div class="content-foo">
                    <h4>Email</h4>
                    <p>Games@outlook.com</p>
                </div>
                <div class="content-foo">
                    <h4>Direccion</h4>
                    <p>Esfe agape sonzacate</p>
                </div>
            </div>
            <h2 class="titulo-final">&copy; Byron, adriana, hector Developer | Equipo GamesHub</h2>
        </footer>

    </main>
</div>
