@page "/about"

<div class="container mt-5">
    <div class="container mt-5">
        <h1 class="text-center display-4">Acerca de Nosotros</h1>
        <div class="row">
            <!-- Tarjeta 1 -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="image/games.png" class="card-img-top" alt="Imagen de juegos">
                    <div class="card-body">
                        <h5 class="card-title">GameHub - Tu Plataforma de Juegos</h5>
                        <p class="card-text">Descubre una amplia variedad de juegos de todo tipo en GameHub. Desde emocionantes aventuras hasta desafiantes juegos de estrategia, tenemos algo para cada tipo de jugador.</p>
                        <a href="#" class="btn btn-danger">Explora Nuestra Colección</a>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="image/games.png" class="card-img-top" alt="Imagen de juegos">
                    <div class="card-body">
                        <h5 class="card-title">Juegos Multijugador</h5>
                        <p class="card-text">Únete a la diversión con amigos y jugadores de todo el mundo. Nuestra plataforma te ofrece una experiencia multijugador en línea sin igual.</p>
                        <a href="#" class="btn btn-danger">Jugar en Línea</a>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="image/games.png" class="card-img-top" alt="Imagen de juegos">
                    <div class="card-body">
                        <h5 class="card-title">Juegos para Todas las Edades</h5>
                        <p class="card-text">En GameHub, creemos que los juegos son para todos. Tenemos una selección de juegos adecuados para jugadores de todas las edades.</p>
                        <a href="#" class="btn btn-danger">Ver Juegos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
