@page "/"

<PageTitle>Index</PageTitle>


    <main>
        <section class="acerca de nosotros">
            <h2 class="titulo"> Plataformas</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="image/vector5.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Juegos para PC</h3>
                    <p>Los juegos para pc nos facilitan el tener que comprar una consola para jugar. 
                        Muchas veces no contamos con el dinero suficiente para comprar una consola de 
                        juegos para PS3 o PS4 sin embargo gracias a esta plataforma "PC" podemos jugar 
                        la mayoría de los juegos, incluso si no lo están existen programas llamados 
                        "Emuladores" que permiten que juguemos en la pc cualquier juego que queramos.</p>
                    <h3><span>2</span>Juegos para PS4</h3>
                    <p>Juegos Para Play station 2 (PS4) una de las mejores consolas del mundo para 
                        jugar segun millones de usuarios, no lo decimos nosotros lo dice mucha gente, 
                        hay que tener en cuenta que hay varias plataformas gigantes como pc, Xbox360 o 
                        incluso juegos para PS4 entre otras, pero esta se ha hecho muy popular por 
                        tener los mejores y nuevos juegos a medida que ha ido evolucionando todo.</p>
                </div>
            </div>
        </section>
        <section class="Juegos">
            <div class="contenedor">
                <h2 class="titulo">Juegos</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="image/accion.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="image/byrongames.png" alt="">
                            <p>Accion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/aventura.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Aventura</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/deportes.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Deportes</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/estrategia.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Estrategia</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/simulador.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Simuladores</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/conduccion.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Conduccion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/RPG.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>RPG</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/otros.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Otros</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <div class="container mt-5">
        <h2 class="titulo">Que dicen nuestros usuarios</h2>
        <h1 class="text-center text-white">Comentarios de Usuarios</h1>
        <div class="row">
            <!-- Usuario 1 -->
            <div class="col-md-4">
                <div class="card bg-danger text-white mb-4">
                    <img src="image/usuariohector.jpg" class="card-img-top" alt="Usuario 1">
                    <div class="card-body">
                        <h5 class="card-title">Armando Hoyos</h5>
                        <p class="card-text">La plataforma de juegos de GameHub es simplemente asombrosa. Siempre encuentro algo emocionante para jugar y la comunidad es muy amigable. ¡Lo recomiendo a todos mis amigos!</p>
                    </div>
                </div>
            </div>

            <!-- Usuario 2 -->
            <div class="col-md-4">
                <div class="card bg-danger text-white mb-4">
                    <img src="image/usuariohector.jpg" class="card-img-top" alt="Usuario 2">
                    <div class="card-body">
                        <h5 class="card-title">Alan Brito Delgado</h5>
                        <p class="card-text">GameHub ha mejorado mi experiencia de juego en línea. Los juegos son variados y la calidad es impresionante. ¡No puedo dejar de jugar en esta plataforma!</p>
                    </div>
                </div>
            </div>

            <!-- Usuario 3 -->
            <div class="col-md-4">
                <div class="card bg-danger text-white mb-4">
                    <img src="image/usuariohector.jpg" class="card-img-top" alt="Usuario 3">
                    <div class="card-body">
                        <h5 class="card-title">Alma Marcela Gozo Galan</h5>
                        <p class="card-text">Como jugador de toda la vida, puedo decir que GameHub es mi lugar de referencia para los juegos. La selección y la comunidad son inigualables.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <section class="Tutorialesdedescarga">
            <div class="contenedor">
                <h2 class="titulo">Tutoriales de descarga</h2>
                <div class="tutoriales-cont">
                    <div class="tutoriales-ind">
                        <video controls src="videos/mediafire.mp4" poster="image/poster3.png"></video>
                        <h3>Mediafire</h3>
                        <p>Aprenderas a descargar por mediafire y a saltar los anuncios</p>
                    </div>
                    <div class="tutoriales-ind">
                        <video controls src="videos/mega.mp4" poster="image/poster1.png"></video>
                        <h3>Mega</h3>
                        <p>Aprenderas a descargar por mega y tener descargas ilimitadas</p>
                    </div>
                    <div class="tutoriales-ind">
                        <video controls src="videos/utorrent.mp4" poster="image/poster2.jpeg"></video>
                        <h3>utorrent</h3>
                        <p>Aprenderas a como descargar un juego desde un enlace torrent</p>
                    </div>

                </div>
            </div>
        </section>

    </main>