@page "/"

<PageTitle>Index</PageTitle>


    <main>
        <section class="acerca de nosotros">
            <h2 class="titulo"> Plataformas</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="image/vector5.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Juegos para PC</h3>
                    <p>Los juegos para pc nos facilitan el tener que comprar una consola para jugar. 
                        Muchas veces no contamos con el dinero suficiente para comprar una consola de 
                        juegos para PS3 o PS4 sin embargo gracias a esta plataforma "PC" podemos jugar 
                        la mayoría de los juegos, incluso si no lo están existen programas llamados 
                        "Emuladores" que permiten que juguemos en la pc cualquier juego que queramos.</p>
                    <h3><span>2</span>Juegos para PS4</h3>
                    <p>Juegos Para Play station 2 (PS4) una de las mejores consolas del mundo para 
                        jugar segun millones de usuarios, no lo decimos nosotros lo dice mucha gente, 
                        hay que tener en cuenta que hay varias plataformas gigantes como pc, Xbox360 o 
                        incluso juegos para PS4 entre otras, pero esta se ha hecho muy popular por 
                        tener los mejores y nuevos juegos a medida que ha ido evolucionando todo.</p>
                </div>
            </div>
        </section>
        <section class="Juegos">
            <div class="contenedor">
                <h2 class="titulo">Juegos</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="image/accion.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="image/byrongames.png" alt="">
                            <p>Accion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/aventura.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Aventura</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/deportes.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Deportes</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/estrategia.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Estrategia</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/simulador.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Simuladores</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/conduccion.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Conduccion</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/RPG.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>RPG</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="image/otros.jpg" alt="">
                        <div class="hover-galeria">
                        <img src="image/byrongames.png" alt="">
                            <p>Otros</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Que dicen nuestros usuarios</h2>
            <div class="cards">
                <div class="card">
                    <img src="image/usuario1.png" alt="">
                    <div class="usuario1">
                        <h4>Armando Hoyos Galan</h4>
                        <p>Estan geniales todos los juegos, gracias por compartirlos</p>
                    </div>
                </div>
                <div class="card">
                    <img src="image/usuario2.png" alt="">
                    <div class="usuario2">
                        <h4>Byron Josue Marinero</h4>
                        <p>Los juegos son fantasticos y de bajos requisitos, me va bien para mi pc de pobres :'v</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="Tutorialesdedescarga">
            <div class="contenedor">
                <h2 class="titulo">Tutoriales de descarga</h2>
                <div class="tutoriales-cont">
                    <div class="tutoriales-ind">
                        <video controls src="videos/mediafire.mp4" poster="image/poster3.png"></video>
                        <h3>Mediafire</h3>
                        <p>Aprenderas a descargar por mediafire y a saltar los anuncios</p>
                    </div>
                    <div class="tutoriales-ind">
                        <video controls src="videos/mega.mp4" poster="image/poster1.png"></video>
                        <h3>Mega</h3>
                        <p>Aprenderas a descargar por mega y tener descargas ilimitadas</p>
                    </div>
                    <div class="tutoriales-ind">
                        <video controls src="videos/utorrent.mp4" poster="image/poster2.jpeg"></video>
                        <h3>utorrent</h3>
                        <p>Aprenderas a como descargar un juego desde un enlace torrent</p>
                    </div>

                </div>
            </div>
        </section>

    </main>